/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, label, input { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; position: relative; }
body, button, input, select, textarea {font-family: 'Droid Sans', sans-serif; color: #000; }

html, body {
	height: 100%;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
address {font-style:normal;}
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0; padding: 0 0 0 0px; list-style:none; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }





@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/gothicbi-webfont.eot');
	src: local('☺'), url('fonts/gothicbi-webfont.woff') format('woff'), url('fonts/gothicbi-webfont.ttf') format('truetype'), url('fonts/gothicbi-webfont.svg#webfontWu6tswRP') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/gothici-webfont.eot');
	src: local('☺'), url('fonts/gothici-webfont.woff') format('woff'), url('fonts/gothici-webfont.ttf') format('truetype'), url('fonts/gothici-webfont.svg#webfontBoKrx9Yd') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/gothicb-webfont.eot');
	src: local('☺'), url('fonts/gothicb-webfont.woff') format('woff'), url('fonts/gothicb-webfont.ttf') format('truetype'), url('fonts/gothicb-webfont.svg#webfontS581d03H') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('fonts/gothic-webfont.eot');
	src: local('☺'), url('fonts/gothic-webfont.woff') format('woff'), url('fonts/gothic-webfont.ttf') format('truetype'), url('fonts/gothic-webfont.svg#webfontBcr9IjsF') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "CenturyGothic";
	background:url(img/bg.png) #E6E7E8 repeat-x;
	font-size:12px;
}

img {
	outline:none;
}

a {
	text-decoration:none;
	color:#066;
	font-weight:bold;
	outline:none;
}

#container {
	width:950px;
	margin:0 auto;
	
	padding-top:30px;
}

#left {
	width:300px;
	padding-right:30px;
	float:left;
}

#right {
	width:620px;	
	float:left;
	margin-top:15px;
}

#header {
	width:950px;
	height:302px;
	background:url(img/header.png) no-repeat;
}

#bijour {
	color:#FFF;
	padding-left:200px;
	padding-top:180px;
	text-transform:uppercase;
	line-height:36px;
}

#postit {
	width:230px;
	height:225px;
	background:url(img/post-it.png) no-repeat;
	padding:40px 40px 30px 30px;
	/*-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);*/
}


#footerborder {
	background:url(img/borderbottom.png) no-repeat;
	height:10px;
	width:950px;
	
}

#footer {
	background:#000;
	width:900px;
	padding:25px 22px 25px 28px;
	color:#FFF;
}

#subfooter {
	color:#CCC;
	float:right;
	font-size:11px;
}

.font85 {
	font-size:85px;
}

.font23 {
	font-size:23px;
}
.font29 {
	font-size:29px;
}
.font35 {
	font-size:35px;
}

h2{
	font-size:26px;
	font-weight:normal;
	border-bottom:dashed 1px #000;
	line-height:35px;
	margin:15px 0px;
}

h3 {
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	color:#000;
	margin:2px 0 0 0;
	padding:0px;
}

.clear {
	clear:both;
}

.tagline {
	/*font-size:16px;
	color:#0093D6;*/
}

.tddesc {
	font-style:italic;
	color:#666;
	font-size:11px;
}

td.transport, td.hebergement, td.repas, td.guide, td.agadir, td.marrakech {
	width:70px;
	height:70px;
	background-image:url(img/icons-sprite.png);
	background-repeat:no-repeat;
}

td.transport {
	background-position:0 0;
}

td.hebergement {
	background-position:0 -78px;
}

td.repas {
	background-position:0 -162px;
}

td.guide {
	background-position:0 -248px;
}

td.agadir {
	background-position:0 -330px;
}

td.marrakech {
	background-position:0 -410px;
}

img.pics {
	width:80px;
	height:80px;
	border:solid 4px #FFF;
	
	-moz-box-shadow: 3px 3px 3px #aaa; 
	-webkit-box-shadow: 3px 3px 3px #aaa; 
	box-shadow: 3px 3px 3px #555; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=3);
	
	float:left;
	margin-right:12px;
	margin-bottom:12px;
}

li {
background:url(img/tick.png) no-repeat left;
padding-left:20px;
}
